.navbar-nus{
    background-image: url(/img/header.png);
    background-position: center;
    background-size: cover
}

.form-search{
    margin: 0 1.25rem;
}

@media (max-width: 767.98px){
    .form-search{
        margin: 0 0 1.25rem;
    }
}
.form-search input{
    padding-left: 0.5rem;
    padding-right: 2.5rem;
}

.form-search button{
    top: 0;
    right: 0;
}

.sidebar-user-material .card-body {
    /*padding: .5rem;*/
}
.bt-1{
    border-top: 1px solid #ddd;
}

/*
 * Tables
 **/
.nav-tabs-highlight .nav-item:first-child {
    margin-left: 1.25rem;
}
.search-panel {
    padding: 1.25rem 1.25rem 0;
}
.table-styled thead th {
    border-color: #5b6982;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}
.dataTables_filter, .dataTables_info {
    margin-left: 1.25rem;
}
.dataTables_length, .dataTables_paginate {
    margin-right: 1.25rem;
}

/*
 * Constructor
 **/
.line>.card-header, .problem>.card-header, .opis>.card-header{cursor: move;}

.element-container, .empty-container {
    padding: 10px 0 0 30px;
}
/*
 * ???
 **/

.item-responsive {
    position: relative;
}
.item-responsive:before {
    display: block;
    content: "";
    width: 100%;
}
.item-16by9 {
    padding-top: 56.25%;
}
.item-responsive > .item-responsive-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover !important;
}
.item-excerption, .item-meta{
    font-size: .875rem;
}

.single-thumbnail{
    width: 50%;
    float: left;
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
}

@media (max-width: 768px){
    .single-thumbnail{
        width: 100%;
        float: none;
        margin-right: 0;
    }
}

.pagination-wrapper nav{
    display: inline-block;
}

.page-item.active .page-link {
    background-color: #2196F3;
    border-color: #2196F3;
}

.navbar-light .show > .navbar-nav-link, .navbar-light .active > .navbar-nav-link, .navbar-light .navbar-nav-link.show, .navbar-light .navbar-nav-link.active {
    color: #333;
    background-color: #f5f5f5;
}

.avatar {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.avatar img {
    width: 100%;
}
.avatar:hover:before, .avatar:hover:after {
    opacity: 1;
}
.avatar:before {
    content: "+";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 2em;
    opacity: 0;
}
.avatar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
}
#loadavatar {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.next-tab, .back-tab{
    width: 120px;
}

.book-caption{
    font-size: 16px;
    font-weight: 500;
}

.book-value, .book-value-bordered{
    font-size: 14px;
}

.book-value-bordered{
    border-bottom: 1px solid #dddddd;
}

.custom-file-label::after{
    content: 'обрати файл';
    padding: 0.5rem 1rem;
    background-color: #2196f3;
    color: #fff;
    border-radius: 0.1875rem;
}
.custom-file-input:focus ~ .custom-file-label{
    border-top-color: transparent;
}

.pagination{
    justify-content: center;
}

#fountainG{
    position:relative;
    width:234px;
    height:28px;
    margin:auto;
}

.fountainG{
    position:absolute;
    top:0;
    background-color:rgb(0,0,0);
    width:28px;
    height:28px;
    animation-name:bounce_fountainG;
        -o-animation-name:bounce_fountainG;
        -ms-animation-name:bounce_fountainG;
        -webkit-animation-name:bounce_fountainG;
        -moz-animation-name:bounce_fountainG;
    animation-duration:1.5s;
        -o-animation-duration:1.5s;
        -ms-animation-duration:1.5s;
        -webkit-animation-duration:1.5s;
        -moz-animation-duration:1.5s;
    animation-iteration-count:infinite;
        -o-animation-iteration-count:infinite;
        -ms-animation-iteration-count:infinite;
        -webkit-animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
    animation-direction:normal;
        -o-animation-direction:normal;
        -ms-animation-direction:normal;
        -webkit-animation-direction:normal;
        -moz-animation-direction:normal;
    transform:scale(.3);
        -o-transform:scale(.3);
        -ms-transform:scale(.3);
        -webkit-transform:scale(.3);
        -moz-transform:scale(.3);
    border-radius:19px;
        -o-border-radius:19px;
        -ms-border-radius:19px;
        -webkit-border-radius:19px;
        -moz-border-radius:19px;
}

#fountainG_1{
    left:0;
    animation-delay:0.6s;
        -o-animation-delay:0.6s;
        -ms-animation-delay:0.6s;
        -webkit-animation-delay:0.6s;
        -moz-animation-delay:0.6s;
}

#fountainG_2{
    left:29px;
    animation-delay:0.75s;
        -o-animation-delay:0.75s;
        -ms-animation-delay:0.75s;
        -webkit-animation-delay:0.75s;
        -moz-animation-delay:0.75s;
}

#fountainG_3{
    left:58px;
    animation-delay:0.9s;
        -o-animation-delay:0.9s;
        -ms-animation-delay:0.9s;
        -webkit-animation-delay:0.9s;
        -moz-animation-delay:0.9s;
}

#fountainG_4{
    left:88px;
    animation-delay:1.05s;
        -o-animation-delay:1.05s;
        -ms-animation-delay:1.05s;
        -webkit-animation-delay:1.05s;
        -moz-animation-delay:1.05s;
}

#fountainG_5{
    left:117px;
    animation-delay:1.2s;
        -o-animation-delay:1.2s;
        -ms-animation-delay:1.2s;
        -webkit-animation-delay:1.2s;
        -moz-animation-delay:1.2s;
}

#fountainG_6{
    left:146px;
    animation-delay:1.35s;
        -o-animation-delay:1.35s;
        -ms-animation-delay:1.35s;
        -webkit-animation-delay:1.35s;
        -moz-animation-delay:1.35s;
}

#fountainG_7{
    left:175px;
    animation-delay:1.5s;
        -o-animation-delay:1.5s;
        -ms-animation-delay:1.5s;
        -webkit-animation-delay:1.5s;
        -moz-animation-delay:1.5s;
}

#fountainG_8{
    left:205px;
    animation-delay:1.64s;
        -o-animation-delay:1.64s;
        -ms-animation-delay:1.64s;
        -webkit-animation-delay:1.64s;
        -moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
    0%{
    transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
    transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes bounce_fountainG{
    0%{
    -o-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
    -o-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes bounce_fountainG{
    0%{
    -ms-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
    -ms-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes bounce_fountainG{
    0%{
    -webkit-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
    -webkit-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes bounce_fountainG{
    0%{
    -moz-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
    -moz-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}    

.btn-transparent {background-color: transparent;}
.btn.btn-transparent:hover {background-color: rgba(0,0,0,0.025);}
.nav-group-sub .nav-group-sub .nav-link {
    padding-left: 3.5rem;
}
