.search-panel{
	padding: 1.25rem 1.25rem 0;
}

.nav-tabs-highlight .nav-item:first-child{
	margin-left: 1.25rem;
}
.table-styled thead th {
    border-color: #5b6982;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}
.dataTables_filter, .dataTables_info{
	margin-left: 1.25rem;
}
.dataTables_length, .dataTables_paginate{
	margin-right: 1.25rem;
}
.dataTables_length select, .dataTables_filter input{
	margin: 0 .5rem;
}